* {
    margin: 0;
    box-sizing: border-box;
}


/* Debugging */

.debug .section__header{
    background-color: rgb(173, 216, 230);
}

.debug .col__min, .col__max, .col__min-1, .col__section-1, .col1__section-2 , .col2__section-2{
    border: 2px dashed black;
}

/* .debug  .row {

    border: 2px solid pink;
} */

/* .debug .container { 
    padding: 10px;
    border: 1px solid black;
} */

.debug .container__header {
    background-color: #DAA520;
}

.debug .section-1 {
    background-color: #00008B;
}
.debug .section-2 {
    background-color: #FFFFFF ;
}


.debug .container__section-2 {
    background-color: greenyellow;
}

.debug .col__section-1 {
    background-color: #FFC0CB;
}

.debug .col1__section-2 {
   background-color:#FFC0CB;
}

.debug .col2__section-2 {
    background-color:#1E90FF;
 }

/* End of Debugging */


body { 
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    flex-direction: column ;
}

.section__header {
    padding: 20px;
    max-height: 80px;
    min-width: 100vh;
}

.row  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.col {
    padding-left: 10px;
    padding-top: 5px;
}

.col__max{
    width: 60%;
    text-align: center;
    height: 35px;
}

.col__min {
    padding-right: 10px;
    width: 20% ;
    text-align: end;
    height: 35px;
}

.col__min-1 {
    padding-left: 10px;
    text-align: left;
    width: 20%;
    height: 35px;
}

.col__section-1 {
    width:850px;   
}

.col1__section-2 {
    width: 60% ;
    height: 100%;
}

.col2__section-2 {
    width: 40%;
}

.container { 
    margin: 0 auto;
}

.container__header, .container__section-2 {
    min-width: 500px;
    max-width: 1200px;
    
}

.container__section-2 {
    height: 400px;
}

section{
    padding: 50px;
}

.container__section-1 {
    width:850px;
    height: 400px;
}
