/* Resetting Rules */

* {
    margin: 0;
    box-sizing: border-box;
}


/* Debugging */

.debug .section__header {
    background-color: rgb(173, 216, 230);
}

.debug .col__min, .col__max, .col__min-1, .col__section-1, .col1__section-2 , .col2__section-2, .col1__section-3, .col2__section-3 {
    border: 2px dashed black;
}

/* .debug  .row {

    border: 2px solid pink;
} */

/* .debug .container { 
    padding: 10px;
    border: 1px solid black;
} */

.debug .container__header {
    background-color: #DAA520;
}

.debug .section-1 {
    background-color: #00008B;
    border-bottom: 5px solid rgb(173, 216, 230) ;
}
.debug .section-2 {
    background-color: #FFFFFF ;
}

.debug .section-3 { 
    background-color: #D3D3D3 ;
}

.debug .section-5 {
    background-color: #D3D3D3;
}

.debug .footer-1, .footer-2 {
    background-color: #23272A;
}


.debug .container__section-2 {
    background-color: greenyellow;
}

.debug .container__section-5 {
    background-color: #228B22;
    border: 2px dashed black;
}

.container__section-7 {
    background-color: #7FFFD4;
}

.debug .container__section-3 {
    background-color: #DAA520;
}

.debug .col__section-1 {
    background-color: #EE82EE;
}

.debug .col1__section-2, .col2__section-3 {
   background-color:#1E90FF;
}

.debug .col2__section-2, .col1__section-3 {
    background-color:#FFC0CB;
 }

 .col1__section-6 {
    background-color: #F08080;
    border: 2px dashed black; ;
 }

 .debug .col2__section-6, .col3__section-6, .col4__section-6, .col5__section-6 {
    background-color: #20B2AA;
    border: 2px dashed white;
 }

 .debug .footer-1 {
    border-bottom: 2px solid #FFFFFF;
 }

 .debug .col__footer {
    background-color: #FFB6C1 ;
    padding-bottom: 10px;
    border: 2px dashed black;
 }

/* End of Debugging */


body { 
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    flex-direction: column ;
}

.section__header {
    padding: 20px;
    max-height: 80px;
    min-width: 100vh;
}

.row  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.row__footer {
    height: fit-content;
    align-self: center;
    padding-top: 42px;
}

.col {
    padding-left: 10px;
    padding-top: 5px;
    height: 100%;
    font-size: 1.3em;
}

.col__max {
    width: 60%;
    text-align: center;
    height: 35px;
    font-size: 1.3em;
}

.col__min {
    padding-right: 10px;
    width: 20% ;
    text-align: end;
    height: 35px;
}

.col__min-1 {
    padding-left: 10px;
    text-align: left;
    width: 20%;
    height: 35px;
}

.col__section-1 {
    width:850px;   
}

.col1__section-2, .col2__section-3 {
    width: 60% ;
}

.col2__section-2, .col1__section-3, .col1__section-6 {
    width: 40%;
}

.col__footer {
    text-align: center;
    height: fit-content;
    font-size: 1.3em;
    padding-right: 10px;
}

.container { 
    margin: 0 auto;
}

.container__header, .container__section-2, .container__section-3, .container__section-5, .container__section-6, .container__section-7 {
    min-width: 500px;
    max-width: 1200px; 
}

.container__section-5 {
    height: 800px ;
}

.container__section-6 {
    height: 600px;
}

.container__section-2, .container__section-3 {
    height: 400px;
}

.container__section-7 {
    height: 100px ;
}

section {
    padding: 50px;
}

.container__section-1 {
    width:850px;
    height: 400px;
}

.col2__section-6, .col3__section-6, .col4__section-6, .col5__section-6 {
    width: 15%;
}

.footer-2 {
    padding-bottom: 0px;
}



